[submodule "bundle/NERD_commenter"]
	path = bundle/NERD_commenter
	url = git://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
    url = git://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
    ignore = dirty
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = git://github.com/vim-scripts/genutils.git
    ignore = dirty
[submodule "bundle/SelectBuf"]
	path = bundle/SelectBuf
	url = git://github.com/vim-scripts/SelectBuf.git
    ignore = dirty
[submodule "bundle/Tagbar"]
	path = bundle/Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
    ignore = dirty
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
    ignore = dirty
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/VCSCommand"]
	path = bundle/VCSCommand
	url = git://github.com/vim-scripts/vcscommand.vim.git
    ignore = dirty
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
    ignore = dirty
[submodule "bundle/mustang"]
	path = bundle/mustang
	url = git://github.com/croaker/mustang-vim.git
    ignore = dirty
[submodule "bundle/candy"]
	path = bundle/candy
	url = git://github.com/vim-scripts/candy.vim.git
    ignore = dirty
[submodule "bundle/hybrid"]
	path = bundle/hybrid
	url = git://github.com/w0ng/vim-hybrid.git
    ignore = dirty
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = git://github.com/mtth/scratch.vim.git
    ignore = dirty
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
    ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
    ignore = dirty
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
    ignore = dirty
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/tmhedberg/matchit.git
    ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/zenburn"]
	path = bundle/zenburn
    url = git://github.com/jnurmine/Zenburn.git
    ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
    ignore = dirty
[submodule "bundle/autumnleaf"]
	path = bundle/autumnleaf
	url = git://github.com/vim-scripts/AutumnLeaf.git
    ignore = dirty
[submodule "bundle/summerfruit"]
	path = bundle/summerfruit
	url = git://github.com/vim-scripts/summerfruit256.vim.git
    ignore = dirty
[submodule "bundle/tango"]
	path = bundle/tango
	url = git@github.com:vim-scripts/Tango-colour-scheme.git
    ignore = dirty
[submodule "bundle/indexedSearch"]
	path = bundle/indexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
    ignore = dirty
[submodule "bundle/buttercream"]
	path = bundle/buttercream
	url = git://github.com/vim-scripts/buttercream.vim.git
    ignore = dirty
[submodule "bundle/tac_syntax"]
	path = bundle/tac_syntax
	url = git@github.com:vim-scripts/tac-syntax.git
    ignore = dirty
[submodule "bundle/hybrid_material"]
	path = bundle/hybrid_material
	url = git@github.com:kristijanhusak/vim-hybrid-material.git
    ignore = dirty
[submodule "bundle/colorsbox"]
	path = bundle/colorsbox
	url = git@github.com:mkarmona/colorsbox.git
    ignore = dirty
[submodule "bundle/vim_obsidian"]
	path = bundle/vim_obsidian
	url = git@github.com:trevorrjohn/vim-obsidian.git
    ignore = dirty
[submodule "bundle/vim_buddy"]
	path = bundle/vim_buddy
	url = git@github.com:DrSpatula/vim-buddy.git
    ignore = dirty
[submodule "bundle/material"]
	path = bundle/material
	url = git@github.com:jscappini/material.vim.git
    ignore = dirty
[submodule "bundle/blackboard"]
	path = bundle/blackboard
	url = git@github.com:ratazzi/blackboard.vim.git
    ignore = dirty
[submodule "bundle/papercolor"]
	path = bundle/papercolor
	url = git@github.com:NLKNguyen/papercolor-theme.git
    ignore = dirty
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
    ignore = dirty
